body {
    background: no-repeat bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

<<<<<<< HEAD
ul li {
  text-decoration: none;
  list-style: none;
}
=======


>>>>>>> 2ea69d5ce8745f17d0d7b08cb320b9c18667029a

/* ********** USER INPUT MODAL  ********** */

                    /*Temporary comment out to configure layout */

/*
#modal {
    width: 100%;
}

.modal {
    height: 100%;
    position: fixed;
    /* Stay in place */
/*    z-index: 1;
    /* Sit on top */
/*   left: 0;
    top: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
/*    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
} */

 /* .user_input {
    margin-top: 280px;
    display: none;
}

input {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #fff;
    width: 75%;
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
}

input:focus {
    outline: none;
}
 */


/* ************** WEATHER ************** */
.top-right {
  height: 60px; 
  
}

.display-weather {
    text-align: right;
    padding: 20px;
    font-size: 1.5rem;
}

/* ************ CLOCK ************* */
.clock {

  padding-top: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 7.25rem;
}

/* ******** EXAMPLE WELCOME TEXT & INPUT ************ */
h2 {
  text-size: 4rem;
  padding-top: 20px;
  margin-top: 20px;
  font-weight: 300;
}

<<<<<<< HEAD
.user_input {
  margin-top: 230px;
  display: none;
=======
user_input {
    margin-top: 280px;
    display: none;
>>>>>>> 2ea69d5ce8745f17d0d7b08cb320b9c18667029a
}

input {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #333;
    width: 75%;
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
}

input:focus {
    outline: none;
}

/* ************* QUOTE SECTION *************** */
.quote {
  positon: absolute;
  top:75vh;
  font-size: 1.75rem;
}

@media (min-width: 768px) {
  input {
    width: 55%;
  }
}

@media (min-width: 1024px) {
  .user_input {
    margin-top: 300px;
  }
  input {
    width: 45%;
  }
}

/* ********** PAGE CONTENT  ********** */

.main_content {
  display: none;
  margin-top: 500px;
}

.focus_content_list {
  display: none;
}

.focus_content_list ul li {
  font-size: 25px;
}

.focus_content h1 {
  font-weight: 300;
}

