body {
    background: no-repeat top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;;
    background-size: cover;
    color: #fff;
    font-weight: lighter;
}

ul li {
  text-decoration: none;
  list-style: none;
}

/* ********** USER INPUT MODAL  ********** */

                    /*Temporary comment out to configure layout */

/*
#modal {
    width: 100%;
}

.modal {
    height: 100%;
    position: fixed;
    /* Stay in place */
/*    z-index: 1;
    /* Sit on top */
/*   left: 0;
    top: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
/*    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal)
}

*/

 /* .user_input {
    margin-top: 280px;
    display: none;
}

input {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #fff;
    width: 75%;
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
}

input:focus {
    outline: none;
}
 */


/* ************** WEATHER ************** */

/* *s*********** CLOCK ************* */

.clock {
  font-size: 50px;
  margin-top: 150px;
}

#welcomeText {
  font-size: 35px;
  font-weight: lighter;
}

@media (min-width: 768px) {
  .clock {
    font-size: 8rem;
    margin-top: 400px;
  }
}

@media (min-width: 1024px) {
  .clock {
    font-size: 10rem;
  }
}

/* ************ FOCUS PROMPT ************* */

h3 {
  font-weight: lighter;
  font-size: 3rem;
}

.focus {
  margin-top: -40px;
  margin-top: 40px;
  font-weight: lighter;
}

.user_input {;
  margin-top: 230px;
  display: none;
}

.user_input {
    margin-top: 280px;
    display: none;
}

#focusList {
  display: none;
}

.focus_content_list {
  display: none;
}

.focus_content_list ul li {
  font-size: 25px;
}

.focus_content h1 {
  font-weight: 300;
}

input {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #fff;
    width: 90%;
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
}

input:focus {
    outline: none;
}

/* ************* QUOTE SECTION *************** */

footer {
  font-size: 20px;
}

.random-quote {
  margin-top: 160px;
}
